# Created by venv; see https://docs.python.org/3/library/venv.html
#*
# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore VS Code settings
.vscode/

# Ignore environment and dependency files
.env
*.env

# Ignore OS-specific files
.DS_Store
Thumbs.db
